/*  #ifdef  H5  */
@import 'tailwindcss';
/*  #endif  */
/*  #ifndef  H5  */
@import 'weapp-tailwindcss';
/*  #endif  */
@config "../tailwind.config.js";
@source not "unpackage";

page {
	--background: oklch(0.97 0.015 240);
	--foreground: oklch(0.145 0 0);

	background-color: var(--background);
	color: var(--foreground);
}

@theme {
	--color-background: oklch(0.97 0.015 240);
	--color-foreground: oklch(0.145 0 0);
}
