@import 'weapp-tailwindcss/css';
@source not "unpackage";
@config "../tailwind.config.js";

page {
	--background: oklch(0.97 0.015 240);
	--foreground: oklch(0.145 0 0);

	background-color: var(--background);
	color: var(--foreground);
}

@theme {
	--color-background: oklch(0.97 0.015 240);
	--color-foreground: oklch(0.145 0 0);
}
